h1, h3 {
	text-align: center;
}

ul.lastDrawn {
	list-style: none;
	font-size: 1.4em;
}
ul.lastDrawn li {
	display: inline;
	margin: 0px 5px;
	padding: 5px;
}
li[matches="true"] {
	background-color: #2ecc71;
	border-radius: 3px;
}

div.options div {
	text-align: center;
}

.totalWin span {
	margin: 0px 10px;
}
.totalWin {
	font-size: 1.6em;
	font-weight: bold;
	text-align: center;
}
.btn-bitbucket {
	position: absolute;
	top: 10px;
	right: 20px;
}