<head>
  <title>Lottery Simulator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1>Lottery Simulator</h1>
  <h3>How many draws until you win the uk lotto?</h3>

  {{> layout}}
</body>

<template name="options">
	<form id="numbersForm">
		<h4>Your numbers:</h4>
		<input type="number" ball="0" class="form-control" min="1" max="49" value="{{valAtPosOf 0 picks}}" wrap="true">
		<input type="number" ball="1" class="form-control" min="1" max="49" value="{{valAtPosOf 1 picks}}" wrap="true">
		<input type="number" ball="2" class="form-control" min="1" max="49" value="{{valAtPosOf 2 picks}}" wrap="true">
		<input type="number" ball="3" class="form-control" min="1" max="49" value="{{valAtPosOf 3 picks}}" wrap="true">
		<input type="number" ball="4" class="form-control" min="1" max="49" value="{{valAtPosOf 4 picks}}" wrap="true">
		<input type="number" ball="5" class="form-control" min="1" max="49" value="{{valAtPosOf 5 picks}}" wrap="true">
	</form>
	<a class="btn btn-primary startRun" href="#">{{runText}}</a>
</template>

<template name="stats">
	<div>Draws: {{numberOfPlays}}</div>
	<div>Weeks: {{divide numberOfPlays 2 1}}</div>
	<div>Years: {{divide numberOfPlays 104 1}}</div>
	{{#if lastDrawn}}
	<ul class="lastDrawn">Last draw: {{#each lastDrawn}}<li matches="{{isInArray this picks}}">{{this}}</li>{{/each}}</ul>
	{{/if}}
	<div>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Draws</th>
					<th>Winnings</th>
				</tr>
			</thead>
			<tbody>
				{{#each wins}}
				{{#if name}}
					<tr>
						<td>{{name}}</td>
						<td>{{count}}</td>
						<td>{{#if amount}}£{{amount}}{{/if}}</td>
					</tr>
				{{/if}}
				{{/each}}
				<tr>
					<td colspan="3" class="totalWin">
						<span>You Paid: £{{multiply numberOfPlays costPerPlay}}</span>
						<span>You Won: £{{sumByKey wins 'amount'}}</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<template name="layout">
	<a class="btn btn-invisible btn-bitbucket" href="https://bitbucket.org/bobbigmac/lottery-sim">on bitbucket</a>
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-md-2 options">
	      <!--Sidebar content-->
	      {{> options}}
	    </div>
	    <div class="col-md-10">
	      <!--Body content-->
	      {{> stats}}
	    </div>
	  </div>
	</div>
</template>
